<h1>Lista de Turmas!</h1>
<ul>
  <li>Id da Turma: {{ turma.id }}</li>
  <li>Nome da Turma: {{ turma.nome }}</li>
  <li>Turno da Turma: {{ turma.turno }}</li>
  <li>Status da Turma:{{ turma.ativo }}</li>

  <li>Id da Unidade: {{ turma.unidade.id }}</li>
  <li>Nome da Unidade: {{ turma.unidade.nome }}</li>
  <li>Endereço da Unidade: {{ turma.unidade.endereco }}</li>
  <li>Status da Unidade: {{ turma.unidade.ativo }}</li>
</ul>
<br />
<input placeholder="Id" [(ngModel)]="turma.id" />
<input placeholder="Nome" [(ngModel)]="turma.nome" />
<input placeholder="Turno" [(ngModel)]="turma.turno" />
<input placeholder="true/false" [(ngModel)]="turma.ativo" /> <br />
<input placeholder="Unidade ID" [(ngModel)]="turma.unidade.id" />
<input placeholder="Unidade Nome" [(ngModel)]="turma.unidade.nome" />
<input placeholder="Unidade Endereço" [(ngModel)]="turma.unidade.endereco" />
<input placeholder="Unidade Status" [(ngModel)]="turma.unidade.ativo" />
