<div class="app flex-row align-items-center mt-3 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            <h4 class="text-center">Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="formLogin" class="form mt-4">
              <div class="form-group">
                <label class="form-control-label">
                  <strong>Usuário</strong>
                </label>
                <input formControlName="inputUsuario" class="form-control" placeholder="Nome do usuário" autofocus />
                <app-vmessage texto="O preenchimento do campo Usuário é obrigatório"
                  *ngIf="formLogin.get('inputUsuario').errors?.required"></app-vmessage>
              </div>

              <div class="form-group">
                <label class="form-control-label">
                  <strong>Senha</strong>
                </label>
                <input formControlName="inputSenha" type="password" class="form-control" placeholder="Senha" />
                <app-vmessage texto="O preenchimento do campo Senha é obrigatório"
                  *ngIf="formLogin.get('inputSenha').errors?.required"></app-vmessage>
              </div>
              <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>