<!-- componente responsável por usar o componente photo -->

<!-- <app-photo src="https://scontent.fgig4-1.fna.fbcdn.net/v/t1.0-9/32207890_1041794692643275_1138426376529903616_o.jpg?_nc_cat=109&_nc_ht=scontent.fgig4-1.fna&oh=5d9b36979e165fd72c55f50a40fcd7ea&oe=5CF983C8"
  alt="Invicto"></app-photo> -->
<!-- <app-form (executarSalvar)="executarSalvarUnidade($event)"></app-form> -->

<strong>Pesquisar Unidade</strong>
<div class="text-center mt-3 mb-3">
  <form>
    <input class="rounded" type="search" placeholder="search..." autofocus />
  </form>
</div>
<app-pesquisa
  (execucaoPesquisa)="executarPesquisaUnidade($event)"
></app-pesquisa>
<app-table [unidades]="unidades"></app-table>
